/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
    url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'),
    url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background: #006DFE;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Header stryles start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  padding-bottom: 25px;
  z-index: 999;
}

.header_active {
  background-color: #0E1D28;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 56px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 75%;
}

.header__burger {
  width: 40px;
  height: 28px;
  position: relative;
  display: none;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

/* Header styles end */

/* Intro styles start */

.intro {
  min-height: 100vh;
  background: url('../img/intro-bg-min.jpg') no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 373px;
}

.intro__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  max-width: 619px;
  margin-bottom: 22px;
}

.intro__subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  max-width: 546px;
  margin-bottom: 59px;
}

.search-form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  background: transparent url('../img/svg/circle-icon.svg') no-repeat left 8px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form__field::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form__field::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form__field:-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form__field::-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form__field::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form__submit {
  padding: 15px 39px 15px 39px;
  text-transform: uppercase;
  background: #1B7DFF;
  border: 0;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
  background: #0b61d4;
}

/* Intro styles end */

/* Benefits styles start */

.benefits {
  margin-bottom: 131px;
}

.benefits__wrap {
  max-width: 1262px;
  background: #FFFFFF;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
          box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
  padding: 0 100px;
}

.benefits__title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background: #FFFFFF;
}

.benefits__card {
  gap: span 1;
  margin-bottom: 112px;
}

.benefits__card-pic {
  max-width: 65px;
  margin-bottom: 37px;
}

.benefits__card-thumb {
  display: block;
}

.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits__card-description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits__card-more {
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  display: inline-block;
  padding-right: 59px;
  background: url('../img/svg/benefits-arrow-icon.svg') no-repeat 95% center;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.benefits__card-more:hover, .benefits__card-more:focus {
  background: url('../img/svg/benefits-arrow-icon.svg') no-repeat right center;
}

/* Benefits styles end */

/* Places styles start */

.places {
  margin-bottom: 131px;
}

.places__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}

.places__title {
  margin-right: 15px; /* To avoid overlaying between places__title & places__view-all*/
}

.places__view-all {
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  background: url('../img/svg/benefits-arrow-icon.svg') no-repeat right center;
  padding-right: 59px;
}

.places__view-all:hover, .places__view-all:focus {
  opacity: 0.65;
}

.places__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.places__card {
  position: relative;
  overflow: hidden;
}

.places__card::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places__card:hover .places__card-pic {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.places__card-title {
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places__card-size_lg {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.places__card-size_sm {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.places__card-pic {
  width: 100%;
  -webkit-transition: 0.15s all;
  -o-transition: 0.15s all;
  transition: 0.15s all;
}

.places__card-pic_size_lg {
  height: 354px;
  -o-object-fit: cover;
     object-fit: cover;
}

.places__card-pic_size_sm {
  height: 283px;
  -o-object-fit: cover;
     object-fit: cover;
}

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/* Places styles end */

/* Tours styles start */

.tours {
  margin-bottom: 139px;
}

.tours__tour {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 108px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 108px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 77px;
}

.tour__info {
  padding-left: 47px;
}

.tour__title {
  font-weight: 500px;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}

.tour__description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour__more {
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  background: url('../img/svg/benefits-arrow-icon.svg') no-repeat right center;
  padding-right: 59px;
}

.tour__more:hover, .tour__more:focus {
  opacity: 0.65;
}

/* Tours styles end */

/* Top styles start */

.top {
  margin-bottom: 86px;
}

.top__title {
  margin-bottom: 54px;
}

.top__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 58px 1fr 58px 1fr 58px 1fr 58px 1fr 58px 1fr;
  grid-template-columns: repeat(6, 1fr);
  gap: 58px;
}

.top__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.top__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top__card-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 25px;
}

.top__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto 0 0;
}

.top__card-likes {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-right: 20px;
  background: url(../img/svg/top-heart-icon.svg) no-repeat right;
  margin-right: 14px;
}

.top__card-comments {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-right: 23px;
  background: url(../img/svg/top-comment-icon.svg) no-repeat right;
}

.top__card-description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}

.top__card-more {
  width: 118px;
  padding: 12px 19px 11px;
  text-transform: uppercase;
  background: #1B7DFF;
  border: 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: auto 0 0 0;
}
  
.top__card-more:hover, .top__card-more:focus, .top__card-more:active {
  background: #0b61d4;
}

/* Top styles end */

/* Video styles start */

.videos {
  width: 100%;
}

.videos__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video__item {
  padding-top: 56.25%;
}

.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
}

/* Video styles end */

/* Footer styles start */

.footer {
  background: #0E1D28;
  padding: 119px 0;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__logo {
  width: 50%;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.footer__menu-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer__menu-link {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active {
  opacity: 0.75;
}

/* Footer styles end */

/* Media start */

@media screen and (max-width: 960px) {
  .search-form__field {
    margin-bottom: 25px;
  }

  .benefits {
    margin-bottom: 65px;
  }

  .benefits__wrap {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .benefits__cards {
    padding: 0 15px;
    gap: 35px;
  }

  .benefits__card {
    margin-bottom: 60px;
  }

  .benefits__title {
    padding: 55px 15px;
  }

  .places__card-size_lg {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .places__card-size_sm {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .tours__tour {
    gap: 35px;
  }

  .tour__title {
    margin-bottom: 15px;
  }

  .tour__description {
    margin-bottom: 15px;
  }

  .tour__info {
    padding-left: 0;
  }

  .top__cards {
    gap:  55px 25px;
  }

  .top__card {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .top__card-pic {
    margin-bottom: 25px;
  }

  .footer {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {

  .section-title {
    margin-bottom: 25px;
  }

  .section-title::after {
    width: 78px;
  }

  .header__burger {
    display: block;
  }

  .header__wrapper {
    padding-top: 28px;
  }

  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 10;
    padding: 75px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
  }

  .header__nav_active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__item:last-child {
    margin-bottom: 0;
  }

  .header__link {
    font-size: 42px;
    line-height: 48px;
  }

  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header__nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    background: #fff;
  }

  .header__nav-close-line:first-child {
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }

  .header__nav-close-line:last-child {
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }

  .intro {
    padding-top: 125px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 48px;
  }

  .intro__subtitle {
    font-size: 14px;
  }

  .search-form__field {
    width: 100%;
    margin-right: 0;
    padding-bottom: 12px;
    background: transparent url('../img/svg/circle-icon.svg') no-repeat left 2px;
  }

  .search-form__field::-webkit-input-placeholder {
    font-size: 16px;
  }

  .search-form__field::-moz-placeholder {
    font-size: 16px;
  }

  .search-form__field:-ms-input-placeholder {
    font-size: 16px;
  }

  .search-form__field::-ms-input-placeholder {
    font-size: 16px;
  }

  .search-form__field::placeholder {
    font-size: 16px;
  }

  .search-form__submit {
    width: 100%;
  }

  .benefits {
    margin-bottom: 36px;
  }

  .benefits__card {
    -ms-grid-column-span: 3;
    grid-column: span 3;
    margin-bottom: 40px;
  }

  .benefits__card-pic {
    margin-bottom: 20px;
  }

  .benefits__card-title {
    margin-bottom: 12px;
  }

  .benefits__card-description {
    margin-bottom: 20px;
  }

  .places {
    margin-bottom: 76px;
  }

  .places__card-pic_size_lg, .places__card-pic_size_sm {
    height: 230px;
  }

  .places__view-all {
    margin-bottom: 25px;
  }

  .places__caption {
    margin-bottom: 0;
  }

  .tours {
    margin-bottom: 76px;
  }

  .tour__pic, .tour__info {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .tour__pic {
    margin-bottom: 12px;
  }

  .tour__pic_mob-first {
    -ms-grid-row: -1;
    grid-row: -1;
  }

  .tours__tour {
    margin-bottom: 50px;
  }

  .top {
    margin-bottom: 76px;
  }

  .top__card {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .top__card-stats {
    max-width: 386px;
  }

  .top__card-description {
    margin-bottom: 15px;
  }

  .footer__logo {
    width: 100%;
    margin-bottom: 24px;
  }

  .footer__menu {
    width: 50%;
    margin-bottom: 24px;
  }

  .footer__nav {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .header__nav {
    padding: 75px 30px;
  }
}

/* Media end */